.admin {
	.adminButtons {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		margin: 0 0 12px;

		.btn {
			flex-grow: 1;
			margin: 6px 8px;
			max-width: 280px;
		}
	}
}

// TODO: REMOVE
label {
	clear: both;
}