.pagePadding {
  padding: 15px 8px;
}
@media (min-width: 480.01px) and (max-width: 960px) {
  .pagePadding {
    padding: 20px 16px;
  }
}
@media (min-width: 960.01px) {
  .pagePadding {
    padding: 28px 24px;
  }
}
.notSelectable {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  font-size: 13px;
}
@media (min-width: 960.01px) {
  body {
    font-size: 16px;
  }
}
a {
  color: #0091d2;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}
a,
a:active,
a:focus {
  outline: none;
}
h1 {
  font-size: 1.9em;
  font-weight: bold;
  margin: 2em 0 1.5em 0;
}
h2 {
  font-size: 1.7em;
  font-weight: bold;
  margin: 1.5em 0 1em 0;
}
h3 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 1em 0 0.6em 0;
}
p {
  line-height: 1.42857143;
  margin: 0.4em 0 0.6em;
  text-align: justify;
}
.btn {
  background: #0091d2;
  border-color: #0074a8;
  border-radius: 4px;
  border-style: solid;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  line-height: 1.42857143;
  padding: 6px 12px;
  text-align: center;
  touch-action: manipulation;
  transition: background 200ms, border-color 200ms;
  user-select: none;
  vertical-align: middle;
}
.btn:hover,
.btn.active {
  background: #00aefc;
  border-color: #0091d2;
}
.btn.active {
  cursor: default;
}
.btn[disabled] {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.65;
}
.success {
  color: #83e51b;
}
.warning {
  color: #ff960a;
}
.error {
  color: #ff0022;
}
.info {
  color: #0091d2;
}
strong {
  font-weight: bold;
}
