.pagePadding {
  padding: 15px 8px;
}
@media (min-width: 480.01px) and (max-width: 960px) {
  .pagePadding {
    padding: 20px 16px;
  }
}
@media (min-width: 960.01px) {
  .pagePadding {
    padding: 28px 24px;
  }
}
.notSelectable {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.userControl .resign {
  padding: 0 6px;
  vertical-align: top;
}
.userControl .users {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 20px;
}
.userControl .users .user {
  border-color: #33a7db;
  border-style: solid;
  border-width: 1px 1px 0;
  display: flex;
  flex-flow: row nowrap;
  padding: 4px;
}
.userControl .users .user:last-child {
  border-width: 1px 1px;
}
.userControl .users .user:nth-child(odd) {
  background: #cce9f6;
}
.userControl .users .user:nth-child(even) {
  background: #b3def2;
}
.userControl .users .user .field {
  padding: 2px;
}
.userControl .users .user .field.name {
  width: calc(40% - 32px);
}
@media (min-width: 960.01px) {
  .userControl .users .user .field.name {
    width: calc(40% - 40px);
  }
}
.userControl .users .user .field.email {
  width: calc(60% - 48px);
}
@media (min-width: 960.01px) {
  .userControl .users .user .field.email {
    width: calc(60% - 60px);
  }
}
.userControl .users .user .field.role {
  text-align: center;
  width: 80px;
}
@media (min-width: 960.01px) {
  .userControl .users .user .field.role {
    width: 100px;
  }
}
