.pagePadding {
  padding: 15px 8px;
}
@media (min-width: 480.01px) and (max-width: 960px) {
  .pagePadding {
    padding: 20px 16px;
  }
}
@media (min-width: 960.01px) {
  .pagePadding {
    padding: 28px 24px;
  }
}
.notSelectable {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.map .mapContainer {
  position: relative;
}
.map .mapContainer .userData {
  align-items: center;
  border-radius: 12px;
  display: flex;
  flex-flow: row nowrap;
  padding: 8px 12px 8px 8px;
  position: absolute;
  transform: translateY(-50%);
  z-index: 2;
}
.map .mapContainer .userData .picture {
  margin: 0 8px 0 0;
  max-height: 60px;
  max-width: 60px;
}
@media (min-width: 480.01px) and (max-width: 960px) {
  .map .mapContainer .userData .picture {
    max-height: 90px;
    max-width: 90px;
  }
}
@media (min-width: 960.01px) {
  .map .mapContainer .userData .picture {
    max-height: 120px;
    max-width: 120px;
  }
}
.map .mapContainer .userData .picture:last-child {
  margin: 0;
}
.map .mapContainer .userData .userInfo {
  display: flex;
  flex-flow: column nowrap;
}
.map .mapContainer #googleMap {
  margin: 20px auto;
  padding-bottom: 50%;
  position: relative;
  width: 100%;
  z-index: 1;
}
.map .buttonHolder {
  margin-bottom: 4px;
}
